header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: #373b69;
  position: relative;
}

.search,
.favorites {
  background: transparent;
  border: 2px solid (#22254b);
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  font-size: 1rem;
  color: #fff;
}

.search:focus,
.favorites:focus {
  outline: 0;
  background-color: #22254b;
}

.search::placeholder {
  color: #7378c5;
}

.searchIcon {
  position: absolute;
  right: 22px;
  cursor: pointer;
  padding-top: 7px;
}

.favorites {
  text-decoration: none;
}
