header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: #373b69;
}

.search {
  background: transparent;
  border: 2px solid (#22254b);
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  font-size: 1rem;
  color: #fff;
  position: relative;
}

.search:focus {
  outline: 0;
  background-color: #22254b;
}

.search::placeholder {
  color: #7378c5;
}

.searchIcon {
  position: absolute; /*გასასწორებელია ცსს*/
  right: 420px;
  padding-top: 6px;
  cursor: pointer;
}
